.main{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ul-opciones{
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style-type: none;
    border: 2px solid red;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ul-opciones li{
    padding: 7px;
    background-color: orange;
    border-radius: 10px;
}

.ul-opciones li:hover{
    background-color: gray;
    cursor: pointer;
}

.slider-bar{
    border: 2px solid red;
    width: 30%;
    height: 100%;
    
}

.contenido{
    border: 2px solid red;
    width: 70%;
    height: 100%;
}